extends ./layouts/main

block content 
    .form-container
        .record-container#js-record-container 
            video#js-video-preview
            button#js-record-btn Start Recording
        form(action=`${routes.videos}${routes.upload}`, method='post', enctype="multipart/form-data")    
            .file-upload
                label(for="file", required=true) Video File
                input(type="file", id="file", name="video-file", required=true, accept="video/*")
            input(type="text", placeholder="Title" name='title', required=true)
            textarea(name="description", placeholder="description", required=true)
            input(type="submit", value="Upload Video", required=true)